article {
    padding: 10px;
}

.article-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.topic-and-author {
    display: flex;
    justify-content: space-around;
    color: rgb(60, 60, 60);
}



.topic{

    color: rgb(57, 57, 57);
    width: 80px;
                height: 25px;
                border-radius: 20px;
                font-weight:bold;
                padding-top: 3px;
            }

.title {
    text-align: center;
    color: rgba(0, 48, 0, 0.855)
}

.article-body {
    color: rgb(60, 60, 60);
    max-width: 50ch;
    text-align: justify;
    align-self: center;
}

.votes-and-comments {
    display: flex;
    justify-content: space-around;
}



@media (min-width: 768px) {
    article {
      display: flex;
      padding: 30px;
    }

    .topic-and-author {
        display: flex;
        flex-direction: column;
    }

    .votes-and-comments {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .title {
        text-align: left;
    }

    .article-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 20px;
    }
  
}

.timestamp {
    display: flex;
    justify-content: center;
    color:rgba(90, 90, 90, 0.54)
}

.time{

    margin-left: 20px;
}

