article {
    padding: 10px;
}


.article-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.topic-and-author {
    display: flex;
    justify-content: space-around;
    color: rgb(60, 60, 60);
}



.topic{
    color: rgb(57, 57, 57);
    width: 80px;
                height: 25px;
                border-radius: 20px;
                font-weight:bold;
                padding-top: 3px;
                text-align: center;
            }

.title {
    text-align: center;
    color: rgba(0, 48, 0, 0.855)
}

.article-body {
    color: rgb(60, 60, 60);
    max-width: 50ch;
    text-align: justify;
    align-self: center;
}

.votes-and-comments {
    display: flex;
    justify-content: space-around;
}

.timestamp {
    display: flex;
    justify-content: center;
    color:rgba(90, 90, 90, 0.54)
}

.time{
    margin-left: 6px;
}



@media (min-width: 1024px) {
    article {
      display: flex;
      flex-direction: column;
    }



    .article-container {
        display: flex;
        justify-content: center;
    }

    .topic-and-author {
        display: flex;
        flex-direction: column;
        width: 160px;

    }

    .article-body {
        align-self: unset;
    }

    .votes-and-comments {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
    }

    .votes-and-comments.wide {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;    
    }

    .votes-and-comments.narrow {
        width: 100px;
    }


    .title {
        text-align: left;
    }

    .article-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 20px;
    }

    .untoggled {
        padding-right: 5px;
        opacity: 0.5;

    }


    .timestamp {
        padding: 20px;
    }

    .date {

        width: 87px;

    }

  
}



