@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@700&display=swap');

.article {
    padding: 30px;
    text-align: justify;
    max-width: 70ch;
}

.votes {
    display: flex;
    justify-content: space-between;
}

.article-title {

    font-family: 'Niramit', sans-serif;
    text-align:initial;
    font-weight: 100px;
    max-width: 70ch;
}


@media (min-width: 768px) {
    .article {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-self:center;
        padding: 30px;
        text-align: justify;
        max-width: 70ch;
    }
}