@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@700&display=swap');

.no-resource-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.articles {
  display: flex;
  justify-content: center;


}

@media (min-width: 768px) {
 


 h2 {
   padding-left: 100px;
 }

 /* p {
   text-align: justify;
 } */

 .topic-and-author {
   padding-right: 20px;
}

.votes-and-comments {
   display: flex;
   align-items: space-around;
}

/* .title {
   width: 485px;
   padding-right: 20px;
} */

.filters {
  display: flex
}

    }

   @media (min-width: 1024px) {
    .title {
      width: 485px;
      padding-right: 20px;
   }
   }


    