@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@700&display=swap");

.no-resource-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.articles {
  display: flex;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 0.3s;
}

.articles .container {
  padding: 30px;
  box-shadow: rgb(0 0 0 / 27%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px 12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px 3px 5px;
}

@media (min-width: 768px) {
  h2 {
    padding-left: 100px;
  }

  /* p {
   text-align: justify;
 } */

  .topic-and-author {
    padding-right: 20px;
  }

  .votes-and-comments {
    display: flex;
    align-items: space-around;
  }

  /* .title {
   width: 485px;
   padding-right: 20px;
} */

  .filters {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .title {
    width: 485px;
    padding-right: 20px;
  }
}
