article {
    padding: 10px;
}

.article-link {
    text-decoration: none;
}

.topic-and-author {
    display: flex;
    justify-content: space-around;
    color: rgb(60, 60, 60);
}

.title {
    padding-left: 50px;
}

.article-body {
    color: rgb(60, 60, 60);
    max-width: 50ch;
    padding-left: 50px;
}

.votes-and-comments {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    article {
      display: flex;
      padding: 30px;
    }

    .topic-and-author {
        display: flex;
        flex-direction: column;
    }

    .votes-and-comments {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
  
    }
