#filter-box .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

#filter-box {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 228, 196, 1);
  /* opacity: 0.75; */
  box-shadow: rgb(0 0 0 / 0%) 0px 54px 55px, rgb(0 0 0 / 0%) 0px -12px 30px,
    rgb(0 0 0) 0px 2px 6px, rgb(0 0 0 / 21%) 0px 6px 40px,
    rgb(0 0 0 / 0%) 0px -3px 5px;
}

#filter-title {
  padding-right: 10px;
}

#filter-topic {
  padding-left: 2px;
  padding-right: 2px;
}

#sort-by {
  padding-left: 2px;
  padding-right: 2px;

  margin-left: 5px;
}

#order {
  padding-left: 2px;
  padding-right: 2px;

  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  #filter-box .container {
    justify-content: flex-start;
    padding-left: 20px;
  }
}
