@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

nav {
    background-color: rgba(227, 227, 227, 0.641)
}

.material-icons.md-48 { font-size: 48px;
    position: static
}

a {
    text-decoration:none;
    color: rgba(0, 59, 0, 0.659)
}

a:visited {
    text-decoration:none;
}


.homeHeader { 

   font-family: 'Averia Serif Libre', Helvetica, sans-serif;
   font-size: 35px;
   color: black;
   padding-left: 20px;
   text-decoration:overline underline rgb(7, 83, 2) 5px;
   text-underline-offset: 4px;

}

Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-right: 20px;
}