@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap");

nav {
  background-color: rgba(227, 227, 227, 0.641);
  box-shadow: rgb(0 0 0 / 0%) 0px 54px 55px, rgb(0 0 0 / 0%) 0px -12px 30px,
    rgb(0 0 0) 0px 2px 6px, rgb(0 0 0 / 21%) 0px 6px 40px,
    rgb(0 0 0 / 0%) 0px -3px 5px;
}

.material-icons.md-48 {
  font-size: 48px;
  position: static;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.508);
}

a {
  text-decoration: none;
  color: rgba(0, 59, 0, 0.659);
}

a:visited {
  text-decoration: none;
}

.home-header {
  font-family: "Averia Serif Libre", Helvetica, sans-serif;
  font-size: 45px;

  padding-left: 20px;
  text-decoration: overline underline rgb(7, 83, 2) 5px;
  text-underline-offset: 4px;
  transition: all 0.3s ease-in-out;

  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: rgba(7, 83, 2, 0.275);
  -webkit-text-stroke-width: 1px;
}

.home-header:hover {
  transform: scale(1.1);
}

.nav-account {
  text-align: center;
  min-width: 86px;
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 114, 250, 0.684);
  text-decoration-style: dotted;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.nav-account:hover {
  transform: scale(1.02);
}

.nav-account.guest {
  opacity: 0.7;
  text-decoration: none;
}

.nav-username {
  margin: 0;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.508);
}

Nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
}

@media (min-width: 375px) {
  .nav-account {
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }

  nav {
    display: flex;
    justify-content: center;
  }
}
